.App {
  text-align: center;
}

header { 
  min-height:50px;
}

body {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.762), rgba(255, 255, 255, 0.65)),url(../assets/collage.jpeg);
  height: 100vh; 
  margin: 0;
}

.wrapper {
  padding-bottom: 2.5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  font-family: 'Montez', cursive;
  font-size: 4.5rem;
  color: #D4AF37;
  border: 2px solid #000;
}

h2 {
  font-family: 'Montez', cursive;
  /* font-family: 'Rock Salt', cursive; */
  font-size: 2rem;
  color: rgb(7, 88, 7);
}

form,
label,
select,
button {
  padding: 10px 10px;
  font-size: 1.5rem;
}

select {
  /* color: #D4AF37; */
  border: 1px solid #000;
  border-radius: 5%;
  
}

button {
  display: inline-block;
  margin-left: 10px;
  /* color:#D4AF37; */
  font-weight: 500;
  border: 1px solid #000;
  border-radius: 5%;
}

p {
  font-family: 'Rock Salt', cursive;
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  padding: 2%;
  border-bottom: 3px solid #000;
}


/* footer {
  min-height:50px;
  margin-top: auto; 
} */

footer {
  position: absolute;
  bottom: 0%;
  width: 100%;
  font-size: 1.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
